* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(1, 39, 252);
}

nav.menu ul {
    display: flex;
    list-style: none;     
    padding: 0px;        
}

.menu-item{
    padding: 100px;
    color: rgb(0, 19, 19);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}

.menu-image{
    background-color: rgb(255, 254, 254);
}

nav.menu-item{
    padding: 0px;
}

li.menu{
    padding: 100px;
}

.menu-item:hover {
    color: #ffffff;
    cursor: pointer;
}

.hero {
     display: flex;
     align-items: center;
     flex-direction: column;
     color: rgb(0, 255, 200);
     background-image: url(imagens/destinos.jpg);
     background-position: center;
     background-size: cover;
}

.hero > h1{
    font-size: 50px;
    margin-top: 75px;
    margin-left: 50px;
}

.hero > p{
    font-size: 25px;
    margin-top: 25px;
    margin-left: 50px;
    padding-bottom: 75px;
}

.rodape {
    background-color: #cc00ff;
    color: white;
    text-align: center;
    padding: 20px;
}

section.content{
    display: flex;
    background-color: rgb(1, 39, 252);
    color: #ffffff;
    align-items: center;
    font-size: 22px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 100px;
    padding-bottom: 50px;
}

.content-item{
    padding: 10px;
}

h1.content-item{
    padding: 1px;
}

.content-image {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 8px;
}

.curiosidades {
    background-color: #1f0068;
    padding: 50px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    align-items: center;
}

.curiosidades-itens{
    font-size: 22px;
    padding: 20px;
    padding-top: 2px;
    color: rgb(255, 255, 255);
}

div.curiosidades{
    background-color: rgb(1, 39, 252);
    width: 50%;
}
